@-moz-document url("about:addons") {

  /* Remove this if it causes horizontal scrolling problems */  
  @media (min-width:720px) {
    #main {
      max-width: unset !important;
      padding-right: 28px !important;
    }  

    addon-list>section,
    recommended-addon-list {
      padding: 1em !important;
      display: grid !important;
      grid-template-areas: "hd hd""cd cd" !important;
      grid-template-columns: 1fr 1fr !important;
      column-gap: 1em !important;  
    }  

    addon-card .card-contents {
      width: unset !important;
      white-space: initial !important;
    }  

    .card-heading-image {
      max-width: calc(100% + 32px) !important;
    }  

    section>h2 {
      grid-area: hd !important;
    }  

    addon-card {
      padding-bottom: 0px !important;
      padding-top: 0px !important;
      grid-area: auto !important;
    }  

    addon-card .addon-description {
      max-height: 3em !important;
      scrollbar-width: thin !important;
      color: white !important;
      text-align: inherit !important;
    }  

    .stack.inline-options-stack {
      background-color: #17171E !important;
      color: white !important;
      font-size: 14px !important;
      border: none !important;
    }  

    addon-card .addon-description {
      height: 3em !important;
      scrollbar-color: #1e90ff #000000 !important;
      scrollbar-width: thin !important;
    }
  }  

  .addon-badge-recommended,
  .addon-badge-private-browsing-allowed {
    transform: scale(0.85) !important;
    margin-bottom: 0px !important;
  }  

  #page-options panel-list {
    background-color: #17171E !important;
    font-size: 14px !important;
    border: none !important;
    color: white !important;
  }

}